body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
li, ol {
	list-style: none;
	display: block;
	list-style-position:inside;
	margin:0;
    padding:0;
    display: block;
	margin-top: 5px;
	margin-left: 5px;
}
a {
  color: #00B7FF;
}

div.fa:hover {
	color:red;
}

div#container {
	display: flex;
}

div#directoryTree {
	display: inline-block;
	width: 15%;
	height: 600px;
}
div#editor {

	display: inline-block;
	width: 80%;
}

body {
	background-color: #ccc;
}
